# Setup

In [3]:
import sklearn
assert sklearn.__version__ >= "0.20"

# To plot pretty figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

# Load dataset into variable

In [7]:
import pandas as pd

def load_asteroid_data():
    csv_path = "head.csv"
    return pd.read_csv(csv_path)

In [16]:
asteroids = load_asteroid_data()
#asteroids.head()
asteroids.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 45 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              999 non-null    object
 1   spkid           999 non-null    int64
 2   full_name       999 non-null    object
 3   pdes            999 non-null    int64
 4   name            999 non-null    object
 5   prefix          0 non-null      float64
 6   neo             999 non-null    object
 7   pha             999 non-null    object
 8   H               999 non-null    float64
 9   diameter        992 non-null    float64
 10  albedo          991 non-null    float64
 11  diameter_sigma  968 non-null    float64
 12  orbit_id        999 non-null    object
 13  epoch           999 non-null    float64
 14  epoch_mjd       999 non-null    int64
 15  epoch_cal       999 non-null    float64
 16  equinox         999 non-null    object
 17  e               999 non-null    float64
 18  a               999 non-null    float64
 19  q               999 non-null    float64
 20  i               999 non-null    float64
 21  om              999 non-null    float64
 22  w               999 non-null    float64
 23  ma              999 non-null    float64
 24  ad              999 non-null    float64
 25  n               999 non-null    float64
 26  tp              999 non-null    float64
 27  tp_cal          999 non-null    float64
 28  per             999 non-null    float64
 29  per_y           999 non-null    float64
 30  moid            999 non-null    float64
 31  moid_ld         999 non-null    float64
 32  sigma_e         999 non-null    float64
 33  sigma_a         999 non-null    float64
 34  sigma_q         999 non-null    float64
 35  sigma_i         999 non-null    float64
 36  sigma_om        999 non-null    float64
 37  sigma_w         999 non-null    float64
 38  sigma_ma        999 non-null    float64
 39  sigma_ad        999 non-null    float64
 40  sigma_n         999 non-null    float64
 41  sigma_tp        999 non-null    float64
 42  sigma_per       999 non-null    float64
 43  class           999 non-null    object
 44  rms             999 non-null    float64
dtypes: float64(34), int64(3), object(8)
memory usage: 351.3+ KB

# Converting object datatypes to numerical and standardizing data

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

def data_preprocessing(data):
    ordinal_encoder = OrdinalEncoder()
    asteroid