# Setup

In [50]:
import sklearn
assert sklearn.__version__ >= "0.20"

# To plot pretty figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

# Load dataset into variable

In [51]:
import pandas as pd

def load_asteroid_data():
    csv_path = "../shuffled_asteroids_head.csv"
    return pd.read_csv(csv_path)

Features we can get rid of name, full_name, prefix, spkid, pdes. Split ID out and keep in seperate vector.

In [55]:
asteroids = load_asteroid_data()
asteroids.head()
#asteroids.info()

,id,spkid,full_name,pdes,name,prefix,neo,pha,H,diameter,...,sigma_i,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,class,rms
0,a0038403,2038403,38403 (1999 RU197),38403,NaN,NaN,N,N,13.5,5.199,...,0.000006,0.000016,0.000052,0.000049,1.436200e-08,1.886300e-09,0.000205,0.000012,MBA,0.43734
1,bK15AT4F,3932132,(2015 AF294),2015 AF294,NaN,NaN,N,N,17.9,NaN,...,0.000038,0.000063,0.000170,0.000365,1.507500e-06,2.226100e-07,0.001661,0.001026,MBA,0.54088
2,bK17A18E,3905354,(2017 AE18),2017 AE18,NaN,NaN,N,NaN,16.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OMB,0.39000
3,a0186963,2186963,186963 (2004 RV140),186963,NaN,NaN,N,N,15.1,3.329,...,0.000006,0.000083,0.000085,0.000022,3.546800e-08,2.650200e-09,0.000128,0.000030,MBA,0.54678
4,a0095902,2095902,95902 (2003 HL24),95902,NaN,NaN,N,N,14.4,NaN,...,0.000006,0.000015,0.000021,0.000017,3.585700e-08,2.788600e-09,0.000089,0.000029,MBA,0.54820

# Converting object datatypes to numerical and standardizing data

In [56]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()
ordinal_encoder = OrdinalEncoder()

#dropping features we dont need
asteroids = asteroids.drop(columns=['spkid', 'full_name', 'pdes', 'prefix', 'name', 'orbit_id', 'equinox'])

#splitting features into numerical and categorical
asteroids_num = asteroids.drop(columns=["id", "neo", "pha", "class"])
asteroids_id = asteroids[["id"]]
asteroids_cat = asteroids[["neo", "pha", "class"]]

#encode categorical features
asteroid_cat_encoded = ordinal_encoder.fit_transform(asteroids_cat)

#Normalizing numerical features
std_scaler = StandardScaler()
asteroids_num_scaled = std_scaler.fit_transform(asteroids_num)

print(asteroid_cat_encoded)
print(asteroids_num_scaled)

[[ 0.  0.  6.]
 [ 0.  0.  6.]
 [ 0. nan  8.]
 ...
 [ 0.  0.  6.]
 [ 0.  0.  6.]
 [ 1.  0.  1.]]
[[-1.94986177 -0.03972371  1.66879174 ... -0.01227037 -0.01534474
  -1.21548345]
 [ 0.572599           nan         nan ... -0.01227037 -0.01534474
  -0.19090077]
 [-0.1726735          nan         nan ...         nan         nan
  -1.68393761]
 ...
 [ 0.572599           nan         nan ... -0.01227037 -0.01534474
  -0.0539467 ]
 [-0.57397408         nan         nan ... -0.01227037 -0.01534474
  -0.01070326]
 [ 5.73217784         nan         nan ... -0.01227036 -0.01533424
  -0.65104269]]