# Setup

In [1]:
import sklearn
assert sklearn.__version__ >= "0.20"
import numpy as np

# To plot pretty figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

# Load dataset into variable

In [2]:
import pandas as pd

def load_asteroid_data():
    #csv_path = "shuffled_asteroids_head.csv"
    csv_path = "../dataset.csv"
    return pd.read_csv(csv_path, low_memory=False)

# Removing unneeded features and null features

In [3]:
asteroids = load_asteroid_data()
#asteroids.head()
asteroids = asteroids.dropna(subset=['pha'])
asteroids = asteroids.dropna(subset=['sigma_e'])
asteroids = asteroids.dropna(subset=['neo'])
asteroids = asteroids.dropna(subset=['H'])
asteroids = asteroids.dropna(subset=['ma'])
asteroids = asteroids.drop(columns=['spkid', 'full_name', 'pdes', 'prefix', 'name', 'orbit_id', 'equinox', 'diameter', "diameter_sigma", "albedo"])
asteroids.info()

<class 'pandas.core.frame.DataFrame'>
Index: 932335 entries, 0 to 958523
Data columns (total 35 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         932335 non-null  object
 1   neo        932335 non-null  object
 2   pha        932335 non-null  object
 3   H          932335 non-null  float64
 4   epoch      932335 non-null  float64
 5   epoch_mjd  932335 non-null  int64
 6   epoch_cal  932335 non-null  float64
 7   e          932335 non-null  float64
 8   a          932335 non-null  float64
 9   q          932335 non-null  float64
 10  i          932335 non-null  float64
 11  om         932335 non-null  float64
 12  w          932335 non-null  float64
 13  ma         932335 non-null  float64
 14  ad         932335 non-null  float64
 15  n          932335 non-null  float64
 16  tp         932335 non-null  float64
 17  tp_cal     932335 non-null  float64
 18  per        932335 non-null  float64
 19  per_y      932335 non-null  float64
 20  moid       932335 non-null  float64
 21  moid_ld    932335 non-null  float64
 22  sigma_e    932335 non-null  float64
 23  sigma_a    932335 non-null  float64
 24  sigma_q    932335 non-null  float64
 25  sigma_i    932335 non-null  float64
 26  sigma_om   932335 non-null  float64
 27  sigma_w    932335 non-null  float64
 28  sigma_ma   932335 non-null  float64
 29  sigma_ad   932335 non-null  float64
 30  sigma_n    932335 non-null  float64
 31  sigma_tp   932335 non-null  float64
 32  sigma_per  932335 non-null  float64
 33  class      932335 non-null  object
 34  rms        932335 non-null  float64
dtypes: float64(30), int64(1), object(4)
memory usage: 256.1+ MB

# Converting object datatypes to numerical and standardizing data

In [4]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()
ordinal_encoder = OrdinalEncoder()

#splitting features into numerical and categorical
asteroids_num = asteroids.drop(columns=["id", "neo", "pha", "class"])
asteroids_id = asteroids[["id"]]
asteroids_cat = asteroids[["neo", "pha", "class"]]

#encode categorical features
asteroid_cat_encoded = ordinal_encoder.fit_transform(asteroids_cat)

#Normalizing numerical features
std_scaler = StandardScaler()
asteroid_num_scaled = std_scaler.fit_transform(asteroids_num)

# Creating features and labels

In [5]:
X = np.concatenate((asteroid_cat_encoded, asteroid_num_scaled), axis=1)
X = np.delete(X, 2, 1)
y = asteroid_cat_encoded[:,2]

print(X.shape)
print(y.shape)

(932335, 33)
(932335,)

# Logistic Regression Classification

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score

def logistic_regression():
    # Initialization and fitting logisitic regression
    log_reg = LogisticRegression(solver="newton-cg", random_state=42)
    log_reg.fit(X_train, y_train)

    #Make predictions
    y_pred = log_reg.predict(X_test)

    #Model metrics
    log_reg_accuracy = accuracy_score(y_test, y_pred)
    log_reg_microf1 = f1_score(y_test, y_pred, average="micro")
    log_reg_macrof1 = f1_score(y_test, y_pred, average="macro")

    return log_reg, log_reg_accuracy, log_reg_microf1, log_reg_macrof1

log_reg, log_reg_accuracy, log_reg_microf1, log_reg_macrof1 = logistic_regression()

print("Accuracy: ", log_reg_accuracy)
print("Micro F1 scorre: ", microf1)
print("Macro F1 score: ", macrof1)